html,body{
    margin:0;
    color: #0b1a30;
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    background: #dceffd;
}
h3 {
  font-size: 130%;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}
p{
  font-size: 120%;
}
.sectionSpan{
  color: #5a54f2;
}
 nav{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    font-family: 'Roboto', sans-serif;
    background: #dceffd;
    transition: all .7s ease;
  }
  
  nav, nav a{
    color: #0b1a30;
  }
  nav a{
    text-decoration: none;
  }
  nav span{
    font-family: 'Permanent Marker', cursive;
    color: #5a54f2;
  }

  .deskLinks{
    display: none;
  }

  .mobLinks{
    width: 85%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .mobLinks a {
    padding: 0.7em 0em;
    /* font-family: 'Merriweather', serif; */
    font-weight: 600;
}

  nav .navNameIcon{
    display: flex;
    justify-content:space-between;
    align-items:baseline;
    font-size: 160%;
    padding:0.3em 0.4em 0.5em 0.4em;
    border-bottom: 1px solid #bdc2db;
  }

  .deskLinks{
    font-size: 80%;
  }

  .show{
    display: none;
  }

  .navExpand{
    width: 100%;
  }
  .overlayPage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .5;
    z-index: 99;
  }

  .home{
    width: 93%;
    margin: 0 auto;
    padding: 6em 0.2em;
  }
  .intro{
    /* width: 90%; */
    /* margin: 0 auto; */
  }
  .introImage{
    /* width: 90%; */
    /* margin: 2em auto 6em auto; */
    padding: 2em 0em 0em 0em;
  }

  .introImage img{
    display: block;
    margin: 0 auto;
    max-width: 85%;
  }
  .text{
    text-align: center;
  }


  .text h1{
    font-size: 300%;
    font-family: 'Roboto', sans-serif;
  }

  .text p{
    /* font-size: 120%; */
    width: 85%;
    margin: 1em auto;
  }

  .buttons{
    display: flex;
    flex-direction: column;
  }
  .buttons button{
    margin: 1.3em auto;
    padding: 0.7em 0.8em;
    width: 80%;
    background: #5a54f2;
    border: none;
    font-size: 100%;
    color: #f5ffff;
  }

  button:nth-child(2){
    border: 1px solid #5a54f2;
    background: #f5ffff;
    color: #5a54f2
  }

.about {
    background: #f5ffff;
    padding: 3em 0em 3em 0em;
}


  .about img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.about p {
  text-align: center;
}

.about h3 {
  text-align: center;
  width: 80%;
  margin: 2em auto;
}

.pict {
  width: 70%;
  margin: 5em auto;
}

.pictImg {
    width: 35%;
    margin: 0 auto;
}

hr {
  width: 90%;
  border-style: solid;
  margin: 6em auto;
  color: #acc6ec;
}

.products {
  background: #fcfbff;
  padding: 3em 0em;
}
.prodDes {
  text-align: center;
}
.prodDes a {
  text-decoration: none;
  font-size: 110%;
  color: #5a54f2;
  /* padding: 1em 0em; */
}
.prodImg img{
  display: block;
  margin: 0.8em auto 0em auto;
  max-width: 100%;
  box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.prodDes img{
  display: block;
  margin: 0 auto;
  max-width: 70%;
}

.prod {
  width: 85%;
  margin: 0 auto;
  padding: 3em 0em;
}

.card {
  width: 90%;
  margin: 4em auto;
  padding: 2em 0em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #fcfbff;
}

.cardImg {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}

.card img{
  /* display: block;
  margin: 0 auto; */
  max-width: 20%;
}

.card h3, .card p {
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.upcoming {
  background: #f5ffff;
  padding: 3em 0em;
}

.upcoming h2, .team h2 , .social h2, .about h2, .products h2{
  text-align: center;
  margin: 0;
  padding: 0em 0em 1em 0em;
}
.card button {
  display: block;
  margin: 0 auto;
  /* margin: 1.3em auto; */
  padding: 0.7em 0.8em;
  width: 65%;
  background: #5a54f2;
  border: none;
  font-size: 100%;
  color: #f5ffff;
}

.team {
  background: #fcfbff;
  padding: 3em 0em;
}

.staff {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #acc6ec;
  width: 80%;
  margin: 0 auto;
  padding: 2em 0em;
}
.staffImg{
  width: 35%;
  /* border-radius: 50%; */
}
.staff img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 50%;
}
.staffDes {
  width: 55%;
  text-align: left;
}

.staffDes span {
  display: block;
}
.staffDes h3, .staffDes p {
  margin: 0;
  text-transform: uppercase;
}

.staffDes p {
  font-size: 75%;
  color: #5a54f2;
  font-weight: 600;
}

.social {
  background: #fff;
  /* width: 95%; */
  /* margin: 0; */
  padding: 3em 0em;
}

.socialCont {
  padding: 2em 0em;
}
.twitter {
  /* padding: 2em 0em 0em 0em; */
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.twitterButtons {
  display: flex;
  justify-content: space-evenly;
  padding: 1em 0em;
}

.youtube{
  width: 95%;
  margin: 4em auto 0em auto;
}
.iframeCont {
  position: relative;
  width: 100%;
  /* margin: 2em auto 0em auto; */
  overflow: hidden;
  padding-top: 56.25%;
}

.iframeCont iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.ytsubscribe{
  width: 100%;
  /* margin: 0em auto 0em auto; */
}
.ytsubscribe iframe{
  width: 100%;
  height: 72px;
}

.email{
  width: 70%;
  margin: 4em auto 0em auto;
}

.email button {
  display: flex;
  justify-content: space-around;
  border: 1px solid #5a54f2;
  background: #f5ffff;
  color: #5a54f2;
  /* display: block; */
  /* margin: 2em auto; */
  /* margin: 1.3em auto; */
  padding: 0.7em 0.8em;
  width: 100%;
  background: #5a54f2;
  /* border: none; */
  font-size: 110%;
  color: #f5ffff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
}
footer a {
  text-decoration: none;
  color: #0b1a30;
  text-transform: uppercase;
  font-size: 120%;
  padding: 0.5em 0em;
  font-weight: 700;
}
footer span {
  font-family: 'Permanent Marker', cursive;
  color: #5a54f2;
  font-size: 160%;
}
  @media only screen and (min-width: 768px) {
nav{
  width:95%;
  margin: 0 auto;
}

.home{
  width: 90%;
  padding: 8em 0.2em;
}
.buttons{
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons button{
  width: 35%;
  margin: 0;
}

.text p {
  width: 80%;
  margin: 2em auto;
}

.introImage img {
  max-width: 80%;
}
.about {
  padding: 4em 0em;
}
.pictionary {
  display: flex;
  justify-content: space-evenly;
  padding: 2em 0em;
}
.pict {
  width: 27%;
  margin: 0em;
}

.products{
  padding: 4em 0em;
}

.prod{
  padding: 4em 0em;
}


.prodDes img {
  max-width: 37%;
}

.prodDesCont h3, .prodDesCont p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.upcoming {
  padding: 4em 0em;
}

.cardCont {
  display: flex;
  justify-content: space-around;
  padding: 3em 0em;
}

.card {
  width: 30%;
  margin: 0;
}
.card h3, .card p {
  width: 90%;
}
.team{
  padding: 4em 0em;
}
.teamCont {
  display: flex;
  justify-content: space-around;
  /* align-items: baseline; */
}
.staff {
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: baseline; */
  border-bottom: none;
  width: 15%;
  margin: 0;
  padding: 3em 0em;
}

.staffImg {
  width: 100%;
}

.staffDes {
  width: 100%;
  text-align: center;
}

.staffDes h3{
  font-size: 110%;
}
.social {
  padding: 4em 0em;
}

.socialCont {
  padding: 3em 0em;
}
/* 
.twitter, .iframeCont, .ytsubscribe{
  width: 70%;
} */
.twitter, .youtube, .email{
  width: 70%;
}
/* .email button{
  width: 40%;
} */
.email {
  width: 40%;
}

footer{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 3em 0em;
}
footer a{
  padding: 0em 0.7em;
}

footer a:nth-child(1) {
  margin-right: auto;
}

footer p {
  width: 100%;
  text-align: right;
}
  }
  
  @media only screen and (min-width: 1024px) {
    nav{
      /* width:80%; */
    }
    #hamburger{
        display: none;
       }
       .deskLinks{
        display: flex;
       }

       .deskLinks a{
         padding: 0em 0.8em;
       }
       
       .home{
        width: 65%;
      }

      .about {
        padding: 5em 0em;
      }

      .pictionary{
        width: 80%;
        padding: 3em 0em;
        margin: 0 auto;
      }

      .products{
        padding: 5em 0em;
      }

      .prod {
        width: 100%;
        margin: 0;
        padding: 5em 0em;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .prodImg {
      width: 50%;
      padding: 0em 0em;
  }
  .prodImg img {
    width: 75%;
    margin: 0 0 0 auto;
}

.prodDes {
  width: 50%;
  padding: 0em 1.5em;
  text-align: left;
}


.prodDesCont {
  width: 50%;
}

.prod:nth-child(2),.prod:nth-child(4){
  flex-direction: row-reverse;
}

.prod:nth-child(2) .prodImg img, .prod:nth-child(4) .prodImg img {
  margin-left: 0;
}

.prod:nth-child(2) .prodDesCont, .prod:nth-child(4) .prodDesCont {
  margin-left: auto;
}

.prodDesCont h3, .prodDesCont p {
  width: 100%;
  margin-top: 0;
}

.upcoming {
  padding: 5em 0em;
}

.cardCont {
  width: 85%;
  margin: 0 auto;
  padding: 4em 0em;
}

.team{
  padding: 5em 0em;
}

.staff{
  padding: 4em 0em;
}

.socialCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.twitter, .youtube {
  width: 47%;
  margin: 0;
}

.email{
  width: 30%;
  margin: 3em 0em;
}

.social {
  padding: 5em 0em;
}

.socialCont {
  padding: 4em 0em;
}

footer{
  padding: 4em 0em;
}

  }
  
  @media only screen and (min-width: 1440px) {
    nav{
      width:80%;
    }

    .home{
      width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    }

    .intro{
      width: 48%;
    }
    .introImage{
      width: 48%;
      padding: 0;
    }

    .text{
      text-align: left;
    }
    .text h1{
      margin-top: 0;
    }
    .text p{
      margin: 2em 0;
    }
    .buttons button{
      margin: 1em 2em 1em 0em;
    }
    .about {
      padding: 6em 0em;
    }
    .pictionary {
      width: 58%;
      padding: 4em 0em;
    }
    .buttons{
      justify-content: flex-start;
    }
    hr{
      width: 58%;
    }

    .products{
      padding: 6em 0em;
    }
    
    .prod{
      padding: 6em 0em;
    }
    .prodDesCont {
      width: 45%;
    }

    .prodImg img {
      width: 65%;
  }

  .upcoming {
    padding: 6em 0em;
  }
  
  .cardCont {
    width: 65%;
    padding: 5em 0em;
  }
  
  .card {
    width: 27%;
  }
  .team{
    padding: 6em 0em;
  }
  
  .staff{
    padding: 5em 0em;
  }
  
  .teamCont{
    width: 75%;
    margin: 0 auto;
  }
  .twitter{
    width: 28%;
    margin: 0;
  }

   .youtube {
    width: 38%;
    margin: 0;
  }
  
  .email{
    width: 15%;
    margin: 0em;
  }

  .social {
    padding: 6em 0em;
  }
  
  .socialCont {
    padding: 5em 0em;
  }
  footer{
    width: 70%;
    margin: 0 auto;
    padding: 5em 0em;
  }
 
  }

  @media only screen and (min-width: 2560px) {
  nav, .home{
    width: 45%;
  }
  .about {
    padding: 7em 0em;
  }
  .pictionary {
    width: 38%;
    padding: 5em 0em;
}

hr{
  width: 38%;
}

.products{
  padding: 7em 0em;
}

.prod{
  padding: 7em 0em;
}

.prodDesCont {
  width: 35%;
}

.prodImg img {
  width: 55%;
}
.upcoming {
  padding: 7em 0em;
}

.cardCont {
  width: 50%;
  padding: 6em 0em;
}

.card {
  width: 25%;
}

.teamCont{
  width: 50%;
  margin: 0 auto;
}

.team{
  padding: 7em 0em;
}

.staff{
  padding: 6em 0em;
}

.twitter{
  width: 22%;
  margin: 0;
}

 .youtube {
  width: 38%;
  margin: 0;
}

.email{
  width: 10%;
  margin: 0em;
}

.social {
  padding: 7em 0em;
}

.socialCont {
  padding: 6em 0em;
}

footer{
  width: 50%;
  margin: 0 auto;
  padding: 6em 0em;
}
  
  }