html,body{
    margin:0;
    color:#131623 ;
}
 nav{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
  }
  
  nav, nav a{
    color:#131623;
  }
  nav a{
    text-decoration: none;
  }
  nav span{
    font-family: 'Permanent Marker', cursive;
  }

  .deskLinks{
    display: none;
  }

  .mobLinks{
    width: 85%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .mobLinks a {
    padding: 0.7em 0em;
    font-family: 'Merriweather', serif;
    font-weight: 600;
}

  nav .navNameIcon{
    display: flex;
    justify-content:space-between;
    align-items:baseline;
    font-size: 170%;
    padding:0.3em 0.4em 0.5em 0.4em;
    border-bottom: 1px solid #131623 ;
  }

  .show{
    display: none;
  }



  
  @media only screen and (min-width: 768px) {
nav{
  width:90%;
  margin: 0 auto;
}

  }
  
  @media only screen and (min-width: 1024px) {
    nav{
      width:80%;
    }
    #hamburger{
        display: none;
       }
       .deskLinks{
        display: flex;
       }

       .deskLinks a{
         padding: 0em 0.8em;
       }
       
  }
  
  @media only screen and (min-width: 1440px) {
    nav{
      width:70%;
    }
  }